extends layout

block content
  h1 Crypto Arbitrage bot <br>


  //p Cererea a fost facuta la: #{vv} <br>
  //p BTC/USD orderbook de la Bitstamp: <br>

  //<div class="column">
    //  <h2>Bids</h2>
    //  <div id="bts_bids_placeholder">waiting for orders...</div>
  //</div>
  //<div class="column">
    //  <h2>Asks</h2>
    //  <div id="bts_asks_placeholder">waiting for orders...</div>
  //</div>

  //<div class="yellow_column">
    //  <h2>Spreads</h2>
    //  <div id="bts_spreads_placeholder">waiting for orders...</div>
  //</div>

  //p BTC/USDT orderbook de la Binance: <br>

  //<div class="column">
    //    <h2>Bids</h2>
    //    <div id="bin_bids_placeholder">waiting for orders...</div>
  //</div>
  //<div class="column">
    //  <h2>Asks</h2>
    //  <div id="bin_asks_placeholder">waiting for orders...</div>
  //</div>

  //<div class="yellow_column">
    //  <h2>Spreads</h2>
    //  <div id="bin_spreads_placeholder">waiting for orders...</div>
  //</div>

  //<div class="row">
    //<div class="col-sm-6">
      //<table id="signalTable" class="table table-bordered table-condensed table-striped">
        //<thead>
          //<tr>
            //<th>Market</th>
            //<th>Bitstamp</th>
            //<th>Binance</th>
            //<th>Profit</th>
          //</tr>
        //</thead>
        //<tbody>
          //<tr>
            //<td class="td">BTC-USDT</td>
            //<td id="bts_op">-</td>
            //<td id="bin_op">-</td>
            //<td id="prof">-</td>
          //</tr>
        //</tbody>
      //</table>
    //</div>
  //</div>


  //<div class="row">
    //<div class="col-sm-6">
      //<table id="testTable">
        //<thead>
          //<tr>
            //<th>Market</th>
            //<th>Bitstamp</th>
            //<th>Binance</th>
            //<th>Profit</th>
          //</tr>
        //</thead>
        //<tbody>
          //<tr>
            //<td class="td">BTC-USDT-test</td>
            //<td id="bitstamp">-</td>
            //<td id="binance">-</td>
            //<td id="profit">-</td>
          //</tr>
        //</tbody>
      //</table>
    //</div>
  //</div>



  p Final table generated dynamically @ #{vv}: <br>

  <div id="gen_table"></div>





  script(src='/javascripts/client.js').
  script(type='text/javascript').
    var btsbidsPlaceholder = document.getElementById("bts_bids_placeholder");
    var btsasksPlaceholder = document.getElementById("bts_asks_placeholder");
    var btsspreadsPlaceholder = document.getElementById("bts_spreads_placeholder");

    var binbidsPlaceholder = document.getElementById("bin_bids_placeholder");
    var binasksPlaceholder = document.getElementById("bin_asks_placeholder");
    var binspreadsPlaceholder = document.getElementById("bin_spreads_placeholder");

    var btsop = document.getElementById("bts_op");
    var binop = document.getElementById("bin_op");
    var prof = document.getElementById("prof");

    var bitstamp = document.getElementById("bitstamp");
    var binance = document.getElementById("binance");
    var profit = document.getElementById("profit");

    var gen_table = document.getElementById("gen_table");

  script.
    window.onload = VanillaData;